#main-header {
	background-color: #7D529C;
}

#name-logo {
	display: flex;
	justify-content: center;
}

.logo {
	display: flex;
	justify-content: flex-end;

}

.name {
	display: flex;
	align-items: flex-start;
}

#navbar {
		background-color: #5C0EB5;

}
#navbar ul {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

#navbar li {
	display: flex;
	font-size: 120%;

}
#navbar a {
	font-size: 120%;
	color: white;
}

#main-picture {
	display: flex;
	justify-content: center;
}